body{
    font-family: 'Raleway';
}

.smaller-image{Width: 70%;}

#banner {
    position: absolute;
   /* top: 0px;
    left: 0px;
    right: 0px; */
    width: 100%;
    height: 300px;
}

  
h1 {
  text-align: center;
  Color: #05413e;
  font-family: times;
   }

   



    /* #one{
    border-style: solid;
    border-color: rgb(223, 223, 235);
    border-width: 5px;
    text-align: center;
    max-height:500px;
    max-width:1000px;
    overflow: scroll;
   } */